*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
}

.container__botao__plus{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;
}

.container__botao__alura{
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;
}